/*** Remove for your project ***/

div[data-page] {
    background-color: white;

    header {

        img {
            width: 100%;
            height: 150px;
        }
    }
}

/*** LOADING ***/
.loading-box {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);

    span {
        width: 4rem;
        height: 4rem;
        top: 50%;
        left: 50%;
        margin-top: -2rem;
        margin-left: -2rem;
        position: absolute;
    }
}

.loading {
    background: url(../img/loading.gif) no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 50px;
    margin: 2rem 0;
    display: inline-block;
    width: 100%;
}



/*** /Remove for your project ***/
